process {
    withName:INDEX {
        container = "quay.io/biocontainers/salmon:1.10.2--hecfa306_0"
    }
    withName:QUANTIFICATION {
        container = "quay.io/biocontainers/salmon:1.10.2--hecfa306_0"
    }
    withName:FASTQC {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }
    withName:MULTIQC {
        container = "quay.io/biocontainers/multiqc:1.18--pyhdfd78af_0"
    }
}
docker {
    enabled = true
}